<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kubix.myjobwallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IntroduzioneActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/toolbarSettings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profilo.ProfiloDatiActivity"
            android:label="@string/toolbarProfileDati"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/toolbarSettings"
            android:theme="@style/ThemeImpostazioni" />
        <activity
            android:name=".profilo.ProfiloActivity"
            android:label="@string/toolbarProfile"
            android:theme="@style/ThemeProfilo" />
        <activity
            android:name=".calendario.OreActivity"
            android:label="@string/toolbarOre"
            android:theme="@style/ThemeOre" />
        <activity
            android:name=".calendario.TurniActivity"
            android:label="@string/toolbarTurni"
            android:theme="@style/ThemeTurni" />
        <activity
            android:name=".spese.SpeseActivity"
            android:label="@string/toolbarSpese"
            android:theme="@style/ThemeSpesa" />
        <activity
            android:name=".spese.SpeseAggiungiActivity"
            android:label="@string/toolbarSpeseAggiungi"
            android:theme="@style/ThemeSpesa" />
        <activity
            android:name=".note.NoteActivity"
            android:theme="@style/ThemeMemo" />
        <activity
            android:name=".note.NoteAggiungiActivity"
            android:label="@string/toolbarNoteAggiungi"
            android:theme="@style/ThemeMemo" />
        <activity
            android:name=".calendario.CalendarioActivity"
            android:label="@string/toolbarCalendario"
            android:theme="@style/ThemeTurni" />
        <activity
            android:name=".calendario.ElaborazioniActivity"
            android:label="@string/toolbarCalcoloPaga"
            android:theme="@style/ThemeTurni" />
        <activity
            android:name="com.kubix.myjobwallet.utility.PremiumActivity"
            android:label="@string/toolbarPremium"
            android:theme="@style/ThemePremium" />
        <activity
            android:name=".entrate.EntrateActivity"
            android:label="@string/toolbarEntrate"
            android:theme="@style/ThemeEntrate" />
        <activity
            android:name=".ConvertitoreActivity"
            android:label="@string/toolbarValuta"
            android:theme="@style/ThemeValuta" />

        <activity android:name="com.kubix.myjobwallet.utility.EmailActivity"
            android:label="@string/toolbarEmail"
            android:theme="@style/ThemeEmail."/>

        <activity android:name=".entrate.EntrateAggiungiActivity"
            android:label="@string/toolbarEntrateAggiungi"
            android:theme="@style/ThemeEntrate"/>

        <activity android:name=".utility.InfoActivity"
            android:theme="@style/ThemeProfilo"/>



    </application>

</manifest>