<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kubix.myjobwallet">

    <!--PERMESSI MANIFEST-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".IntroduzioneActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"/>

        <!-- IMPOSTAZIONI -->
        <activity
            android:name=".setting.SettingsActivity"
            android:label="@string/toolbarSettings"
            android:theme="@style/ThemeImpostazioni"/>

        <!-- PROFILO -->
        <activity
            android:name=".profilo.ProfiloActivity"
            android:label="@string/toolbarProfile"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".profilo.ProfiloDatiActivity"
            android:label="@string/toolbarProfileDati"
            android:theme="@style/AppTheme"/>

        <!-- SPESA -->
        <activity
            android:name=".spese.SpeseActivity"
            android:label="@string/toolbarSpese"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".spese.SpeseAggiungiActivity"
            android:label="@string/toolbarSpeseAggiungi"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <!-- MEMO -->
        <activity
            android:name=".note.NoteActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".note.NoteAggiungiActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/toolbarNoteAggiungi"
            android:theme="@style/AppTheme" />

        <!-- CALENDARIO/ORE -->
        <activity
            android:name=".calendario.CalendarioActivity"
            android:label="@string/toolbarCalendario"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".calendario.CalendarioActivityDue"
            android:label="@string/toolbarCalendario"
            android:theme="@style/AppTheme" />

        <!-- TURNI -->

        <activity
            android:name=".calendario.TurniActivity"
            android:label="@string/toolbarTurni"
            android:theme="@style/AppTheme" />

        <!-- PREMIUM -->
        <activity
            android:name="com.kubix.myjobwallet.utility.PremiumActivity"
            android:label="@string/toolbarPremium"
            android:theme="@style/AppTheme" />

        <!-- ENTRATE -->
        <activity
            android:name=".entrate.EntrateActivity"
            android:label="@string/toolbarEntrate"
            android:theme="@style/AppTheme" />

        <activity android:name=".entrate.EntrateAggiungiActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/toolbarEntrateAggiungi"
            android:theme="@style/AppTheme"/>

        <!-- CONVERTITORE -->
        <activity
            android:name=".RiepilogoActivity"
            android:label="@string/toolbarRiepilogo"
            android:theme="@style/AppTheme" />

        <!-- EMAIL -->
        <activity android:name="com.kubix.myjobwallet.utility.EmailActivity"
            android:label="@string/toolbarEmail"
            android:theme="@style/AppTheme"/>

        <!-- INFO STAFF -->
        <activity android:name=".utility.InfoActivity"
            android:theme="@style/AppTheme"/>

        <!-- WIDGET -->
        <receiver android:name=".widget.WidgetOne">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_1"/>
        </receiver>

    </application>



</manifest>