<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kubix.myjobwallet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity"
            android:label="@string/toolBarSetting"
            android:theme="@style/ThemeImpostazioni"/>

        <activity android:name=".ProfileActivity"
            android:label="@string/toolbarProfile"
            android:theme="@style/ThemeProfilo"/>

        <activity android:name=".OreActivity"
            android:label="@string/toolbarOre"
        android:theme="@style/ThemeOre"/>

        <activity android:name=".TurniActivity"
            android:label="@string/toolbarTurni"
            android:theme="@style/ThemeTurni"/>

        <activity android:name=".SpeseActivity"
            android:label="@string/toolbarSpese"
            android:theme="@style/ThemeSpesa"/>

        <activity android:name=".SpeseAggiungiActivity"
            android:label="@string/toolbarSpeseAggiungi"
            android:theme="@style/ThemeSpesa"/>

        <activity android:name=".NoteActivity"
            android:theme="@style/ThemeMemo"/>

        <activity android:name=".NoteAggiungiActivity"
            android:label="@string/toolbarNoteAggiungi"
            android:theme="@style/ThemeMemo"/>

        <activity android:name=".CalendarioActivity"
            android:label="@string/toolbarCalendario"/>

        <activity android:name=".ElaborazioniActivity"
            android:label="@string/toolbarCalcoloPaga"/>

        <activity android:name=".PremiumActivity"
            android:label="@string/toolbarPremium"
            android:theme="@style/ThemePremium"/>

    </application>

</manifest>